doctype html
html(lang="en")
  head
    title ts-react-starter-kit
    //link(href="./css/app.css" rel="stylesheet" type="text/css")
    script(src="https://fb.me/react-0.14.7.min.js" async defer)
    script(src="https://fb.me/react-dom-0.14.7.min.js" async defer)
    script(src="./index.js" async defer)
  body